.review-created {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.error {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  color: red;
}

.review-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.review-form label {
  margin-left: 25%;
}

.review-text-area {
  margin-top: 4px;
  margin-bottom: 15px;
  margin: 4px auto 15px auto;
  height: 75px;
  width: 50%;
  border-radius: 8px;
  border-width: thin;
  padding-left: 5px;
}

.review-form .submit-review {
  height: 35px;
  width: 100px;
  margin: 5px auto 0 auto;
  color: #fff;
  background-color: #9442ff;
  border-style: none;
  border-radius: 20px;
  box-shadow: 4px 4px 4px 1px #9442ff;
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .review-form .submit-review:hover {
    color: #9442ff;
    background-color: #fff;
    border-color: #9442ff;
    border-style: solid;
    border-width: 2px;
  }
}
